/* start footer */
footer {
  background-color: #006f73;
}
.input-footer {
  position: relative;
  display: inline-block;
}
#input-field-footer {
  padding-right: 50px; /* Make space for the button */
  width: 200px;
}
.input-button-footer {
  position: absolute;
  right: 5px; /* Position the button inside the input */
  top: 50%;
  transform: translateY(-50%);
  background-color: #006f73;
  color: white;
  border: none;
  padding: 5px 10px;
}
/* footer */
