/* Start Heros */
.colorPrimary {
  color: #006f73 !important;
}
.button {
  border-color: #006f73 !important;
  background-color: #006f73 !important;
}
.button2 {
  border-color: #006f73;
  color: #006f73;
}
.hero-offers {
  position: relative;
  background-image: url(../assets/homeClaning.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.hero-offers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.hero-content {
  position: relative;
  z-index: 3 !important;
}

.heroText {
  padding-top: 160px;
}
/* End Heros */

/* start services */
/* Base styling for radio buttons */

.check {
  color: #006f73;
}
/* end features */

.topic-check {
  background-color: #fff;
  padding: 9px 20px 9px 20px;
  border-color: #dee0fa !important;
  font-weight: 500;
}
.btn-check:checked + .btn.topic-check {
  background-color: #006f73;
  color: #fff;
}

/* end services */
/* start offers */
.icon-placeholder {
  font-family: "Font Awesome 5 Free", sans-serif;
}

.icon-placeholder::placeholder {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 700; /* Ensures the icons have a bold weight */
  color: #6c757d; /* Bootstrap's text-muted color for consistency */
}

/* end offers */
/* conatctUS */
.textOrange {
  color: #f7712e;
}
.borderOrange {
  border: solid 1px #f7712e !important;
}
/* customer review  */
.custom-progress-bar .progress-bar {
  background-color: #f7712e;
}
.star {
  color: #ccc; /* Empty stars */
  cursor: pointer;
}

.star.filled {
  color: #f39c12; /* Filled stars (yellow) */
}

.nav-link.active {
  color: #006f73;
}
